@using Books_catalog.Models
@model List<Book>
@{
    ViewData["Title"] = "Index";
}
<style>
    TABLE {
        width: 300px;
        border-collapse: collapse;
    }

    TD, TH {
        padding: 3px;
        border: 1px solid black;
    }

    TH {
        background: #b0e0e6;
    }
</style>
<h1>Book's List</h1>
<span style="margin-left:30px">@Html.ActionLink("Information", "InfomOfBook", "Book")</span>
<span style="margin-left:30px">@Html.ActionLink("Delete", "DeleteBook")</span>
<span style="margin-left:30px">@Html.ActionLink("Add", "AddBook", new { })</span>
<span style="margin-left:30px">@Html.ActionLink("AddBookforAutor", "AddAutorForBook", new { })</span>

<br />
<table class="table">
    <tr>
        <th>
            id
        </th>


        <th>
            Name
        </th>


        <th>
            Year of issue
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(ModelItem => item.Id)
            </td>


            <td>
                @Html.DisplayFor(ModelItem => item.title)
            </td>


            <td>
                @Html.DisplayFor(ModelItem => item.yer)
            </td>


        </tr>


    }

</table>
